<h1>Listing users</h1>

<% @users.each do |user| %>
  <div>
    <% if user.pic? %> 
      <%= image_tag user.pic.url, size: "100x100"%> <!-- (:thumb) %> -->
    <% else %>
      <%= image_tag "default.png", size: "100x100"%> <!-- (:thumb) %> -->
    <% end %>
    
    <% if session[:user_id] and session[:user_id] == user.id %>
      <%= link_to user.username + " (You)", user %>
    <% else %>
      <%= link_to user.username, user %>
    <% end %>
  <div>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
